.container {
  display: flex;
}

.box {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
}

.placeholder {
  font-weight: bolder;
}

.timerText {
  font-weight: bold;
  font-size: 1.5rem;
}

.placeholder {
  font-size: 1rem;
}
